@model RefuelingVM

@{
    ViewData["Title"] = "NewRefueling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="NewRefueling">

    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>


        <div class="form-group row">
            <h2 class="text-info pl-3">Nuevo Vehiculo</h2>
        </div>
        <div class="container">
            @*<div class="row">
            <div class="col-md-6">
            <label asp-for="DateTime" class="form-label">FechaHora</label>
            <input asp-for="DateTime" class="form-control" />
            <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            </div>*@
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Amount" class="form-label">Monto</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Liters" class="form-label">Litros Cargados</label>
                    <input asp-for="Liters" class="form-control" />
                    <span asp-validation-for="Liters" class="text-danger"></span>
                </div>
                <div>
                    <p>El tanque se llenó completamente?</p>
                    <label>
                        <input type="checkbox" asp-for="IsFullCharged" value="true"> Sí
                    </label>
                    
                </div>
            </div>
            <div class="row">
                <div class="alert alert-info">
                    <p>Coloca los KM del tablero tu vehiculo al cargar el combustible</p>
                </div>
                <div class="alert alert-warning">
                    <p>Recorda completar solo una de las dos opciones!! (Odometro o Distancia Recorrida)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Odometer" class="form-label">Kilometraje Actual (Odometro)</label>
                    <input asp-for="Odometer" class="form-control" />
                    <span asp-validation-for="Odometer" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Kilometers" class="form-label">Distancia Recorrida</label>
                    <input asp-for="Kilometers" class="form-control" />
                    <span asp-validation-for="Kilometers" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Comments" class="form-label">Comentarios</label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>

            </div>
            <input type="hidden" asp-for="VehicleId" />
            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-controller="Vehicle" asp-action="Index" class="btn btn-success">Regresar</a>

            </div>
        </div>



    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
