@model TripConsumeApp.Entities.Vehicle

@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewVehicle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <form method="post" asp-action="NewVehicle">
        <input type="hidden" asp-for="UserId" />
        <div class="border p-3">

            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>


            <div class="form-group row">
                <h2 class="text-info pl-3">Nuevo Vehiculo</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="VehicleName" class="form-label">Nombre del Vehiculo</label>
                        <input asp-for="VehicleName" class="form-control" />
                        <span asp-validation-for="VehicleName" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-6">
                        <label asp-for="VehicleType" class="form-label">Tipo</label>
                        <input asp-for="VehicleType" class="form-control" />
                        <span asp-validation-for="VehicleType" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="TankCapacity" class="form-label">Capacidad del tanque de combustible</label>
                        <input asp-for="TankCapacity" class="form-control" />
                        @*<span asp-validation-for="TankCapacity" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Odometer" class="form-label">Kilometraje Actual (Odometro)</label>
                        <input asp-for="Odometer" class="form-control" />
                        <span asp-validation-for="Odometer" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a asp-controller="Vehicle" asp-action="Index" asp-route-UserId="@Model.UserId" class="btn btn-success">Regresar</a>

                </div>
            </div>



        </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}